<h1 align="center"> T20 World Cup Cricket Data Pre Processing </h1>

In [38]:
#import necessary libraries
import pandas as pd
import json

<h4 style="color:blue">(1) Process Match Results</h4>

In [39]:
with open('2024_worldcup_results.json') as f:
    data = json.load(f)

df_match = pd.DataFrame(data['matchSummary'])
df_match.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,India,South Africa,India,7 runs,Bridgetown,"Jun 29, 2024",T20I # 2729
1,England,India,India,68 runs,Providence,"Jun 27, 2024",T20I # 2724
2,Afghanistan,South Africa,South Africa,9 wickets,Tarouba,"Jun 26, 2024",T20I # 2723
3,Afghanistan,Bangladesh,Afghanistan,8 runs,Kingstown,"Jun 24, 2024",T20I # 2722
4,Australia,India,India,24 runs,Gros Islet,"Jun 24, 2024",T20I # 2721

In [14]:
df_match.shape

(52, 7)

**Use scorecard as a match id to link with other tables**

In [40]:
df_match.rename({'scorecard': 'match_id'}, axis = 1, inplace = True)
df_match.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,India,South Africa,India,7 runs,Bridgetown,"Jun 29, 2024",T20I # 2729
1,England,India,India,68 runs,Providence,"Jun 27, 2024",T20I # 2724
2,Afghanistan,South Africa,South Africa,9 wickets,Tarouba,"Jun 26, 2024",T20I # 2723
3,Afghanistan,Bangladesh,Afghanistan,8 runs,Kingstown,"Jun 24, 2024",T20I # 2722
4,Australia,India,India,24 runs,Gros Islet,"Jun 24, 2024",T20I # 2721

In [41]:
df_match

,team1,team2,winner,margin,ground,matchDate,match_id
0,India,South Africa,India,7 runs,Bridgetown,"Jun 29, 2024",T20I # 2729
1,England,India,India,68 runs,Providence,"Jun 27, 2024",T20I # 2724
2,Afghanistan,South Africa,South Africa,9 wickets,Tarouba,"Jun 26, 2024",T20I # 2723
3,Afghanistan,Bangladesh,Afghanistan,8 runs,Kingstown,"Jun 24, 2024",T20I # 2722
4,Australia,India,India,24 runs,Gros Islet,"Jun 24, 2024",T20I # 2721
5,West Indies,South Africa,South Africa,3 wickets,North Sound,"Jun 23, 2024",T20I # 2720
6,England,U.S.A.,England,10 wickets,Bridgetown,"Jun 23, 2024",T20I # 2719
7,Afghanistan,Australia,Afghanistan,21 runs,Kingstown,"Jun 22, 2024",T20I # 2717
8,Bangladesh,India,India,50 runs,North Sound,"Jun 22, 2024",T20I # 2716
9,West Indies,U.S.A.,West Indies,9 wickets,Bridgetown,"Jun 21, 2024",T20I # 2713
10,England,South Africa,South Africa,7 runs,Gros Islet,"Jun 21, 2024",T20I # 2712
11,Australia,Bangladesh,Australia,28 runs,North Sound,"Jun 20, 2024",T20I # 2711
12,Afghanistan,India,India,47 runs,Bridgetown,"Jun 20, 2024",T20I # 2710
13,West Indies,England,England,8 wickets,Gros Islet,"Jun 19, 2024",T20I # 2709
14,South Africa,U.S.A.,South Africa,18 runs,North Sound,"Jun 19, 2024",T20I # 2708
15,West Indies,Afghanistan,West Indies,104 runs,Gros Islet,"Jun 17, 2024",T20I # 2703
16,New Zealand,P.N.G.,New Zealand,7 wickets,Tarouba,"Jun 17, 2024",T20I # 2702
17,Netherlands,Sri Lanka,Sri Lanka,83 runs,Gros Islet,"Jun 16, 2024",T20I # 2699
18,Bangladesh,Nepal,Bangladesh,21 runs,Kingstown,"Jun 16, 2024",T20I # 2698
19,Ireland,Pakistan,Pakistan,3 wickets,Lauderhill,"Jun 16, 2024",T20I # 2697
20,Australia,Scotland,Australia,5 wickets,Gros Islet,"Jun 15, 2024",T20I # 2689
21,England,Namibia,England,41 runs,North Sound,"Jun 15, 2024",T20I # 2688
22,New Zealand,Uganda,New Zealand,9 wickets,Tarouba,"Jun 14, 2024",T20I # 2682
23,Nepal,South Africa,South Africa,1 run,Kingstown,"Jun 14, 2024",T20I # 2681
24,Afghanistan,P.N.G.,Afghanistan,7 wickets,Tarouba,"Jun 13, 2024",T20I # 2679
25,England,Oman,England,8 wickets,North Sound,"Jun 13, 2024",T20I # 2678
26,Bangladesh,Netherlands,Bangladesh,25 runs,Kingstown,"Jun 13, 2024",T20I # 2677
27,West Indies,New Zealand,West Indies,13 runs,Tarouba,"Jun 12, 2024",T20I # 2672
28,U.S.A.,India,India,7 wickets,New York,"Jun 12, 2024",T20I # 2671
29,Australia,Namibia,Australia,9 wickets,North Sound,"Jun 11, 2024",T20I # 2666
30,Canada,Pakistan,Pakistan,7 wickets,New York,"Jun 11, 2024",T20I # 2665
31,Bangladesh,South Africa,South Africa,4 runs,New York,"Jun 10, 2024",T20I # 2664
32,Oman,Scotland,Scotland,7 wickets,North Sound,"Jun 9, 2024",T20I # 2659
33,India,Pakistan,India,6 runs,New York,"Jun 9, 2024",T20I # 2658
34,West Indies,Uganda,West Indies,134 runs,Providence,"Jun 8, 2024",T20I # 2651
35,Australia,England,Australia,36 runs,Bridgetown,"Jun 8, 2024",T20I # 2650
36,Netherlands,South Africa,South Africa,4 wickets,New York,"Jun 8, 2024",T20I # 2649
37,Bangladesh,Sri Lanka,Bangladesh,2 wickets,Dallas,"Jun 7, 2024",T20I # 2646
38,Afghanistan,New Zealand,Afghanistan,84 runs,Providence,"Jun 7, 2024",T20I # 2645
39,Canada,Ireland,Canada,12 runs,New York,"Jun 7, 2024",T20I # 2644
40,Namibia,Scotland,Scotland,5 wickets,Bridgetown,"Jun 6, 2024",T20I # 2643
41,U.S.A.,Pakistan,tied,-,Dallas,"Jun 6, 2024",T20I # 2642
42,Australia,Oman,Australia,39 runs,Bridgetown,"Jun 5, 2024",T20I # 2641
43,P.N.G.,Uganda,Uganda,3 wickets,Providence,"Jun 5, 2024",T20I # 2640
44,India,Ireland,India,8 wickets,New York,"Jun 5, 2024",T20I # 2639
45,Nepal,Netherlands,Netherlands,6 wickets,Dallas,"Jun 4, 2024",T20I # 2638
46,England,Scotland,no result,-,Bridgetown,"Jun 4, 2024",T20I # 2637
47,Afghanistan,Uganda,Afghanistan,125 runs,Providence,"Jun 3, 2024",T20I # 2636
48,South Africa,Sri Lanka,South Africa,6 wickets,New York,"Jun 3, 2024",T20I # 2635
49,Namibia,Oman,tied,-,Bridgetown,"Jun 2, 2024",T20I # 2634
50,West Indies,P.N.G.,West Indies,5 wickets,Providence,"Jun 2, 2024",T20I # 2633
51,U.S.A.,Canada,U.S.A.,7 wickets,Dallas,"Jun 1, 2024",T20I # 2632

**Create a match ids dictionary that maps team names to a unique match id. This will be useful later on to link with other tables**

In [16]:
match_ids_dict = {}

for index, row in df_match.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']
    match_ids_dict[key1] = row['match_id']
    match_ids_dict[key2] = row['match_id']

In [18]:
df_match.to_csv('dim_match_summary.csv', index = False)

<h4 style="color:blue">(2) Process Batting Summary</h4>

In [21]:
with open('2024_bat_summary_recentdata.json') as f:
    data = json.load(f)
    all_records = []
    for rec in data:
        all_records.extend(rec['battingSummary'])
  
df_batting = pd.DataFrame(all_records)
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Pakistan Vs U.S.A,Pakistan,1,Mohammad Rizwan,c Taylor b Netravalkar,9,8,0,1,112.50
1,Pakistan Vs U.S.A,Pakistan,2,Babar Azam(c),lbw b Jasdeep Singh,44,43,3,2,102.32
2,Pakistan Vs U.S.A,Pakistan,3,Usman Khan,c Kumar b Kenjige,3,3,0,0,100.00
3,Pakistan Vs U.S.A,Pakistan,4,Fakhar Zaman,c Taylor b Ali Khan,11,7,0,1,157.14
4,Pakistan Vs U.S.A,Pakistan,5,Shadab Khan,c Netravalkar b Kenjige,40,25,1,3,160.00
5,Pakistan Vs U.S.A,Pakistan,6,Azam Khanâ€,lbw b Kenjige,0,1,0,0,0.00
6,Pakistan Vs U.S.A,Pakistan,7,Iftikhar Ahmed,lbw b Netravalkar,18,14,3,0,128.57
7,Pakistan Vs U.S.A,Pakistan,8,Shaheen Shah Afridi,NaN,23,16,1,2,143.75
8,Pakistan Vs U.S.A,Pakistan,9,Haris Rauf,NaN,3,3,0,0,100.00
9,Pakistan Vs U.S.A,U.S.A,1,Steven Taylor,c Mohammad Rizwan b Naseem Shah,12,16,1,0,75.00
10,Pakistan Vs U.S.A,U.S.A,2,Monank Patel(c)â€,c Mohammad Rizwan b Mohammad Amir,50,38,7,1,131.57

In [22]:
df_batting['out/not_out'] = df_batting.dismissal.apply(lambda x: "out" if pd.notna(x) else "not_out")
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,Pakistan Vs U.S.A,Pakistan,1,Mohammad Rizwan,c Taylor b Netravalkar,9,8,0,1,112.50,out
1,Pakistan Vs U.S.A,Pakistan,2,Babar Azam(c),lbw b Jasdeep Singh,44,43,3,2,102.32,out
2,Pakistan Vs U.S.A,Pakistan,3,Usman Khan,c Kumar b Kenjige,3,3,0,0,100.00,out
3,Pakistan Vs U.S.A,Pakistan,4,Fakhar Zaman,c Taylor b Ali Khan,11,7,0,1,157.14,out
4,Pakistan Vs U.S.A,Pakistan,5,Shadab Khan,c Netravalkar b Kenjige,40,25,1,3,160.00,out
5,Pakistan Vs U.S.A,Pakistan,6,Azam Khanâ€,lbw b Kenjige,0,1,0,0,0.00,out
6,Pakistan Vs U.S.A,Pakistan,7,Iftikhar Ahmed,lbw b Netravalkar,18,14,3,0,128.57,out
7,Pakistan Vs U.S.A,Pakistan,8,Shaheen Shah Afridi,NaN,23,16,1,2,143.75,not_out
8,Pakistan Vs U.S.A,Pakistan,9,Haris Rauf,NaN,3,3,0,0,100.00,not_out
9,Pakistan Vs U.S.A,U.S.A,1,Steven Taylor,c Mohammad Rizwan b Naseem Shah,12,16,1,0,75.00,out
10,Pakistan Vs U.S.A,U.S.A,2,Monank Patel(c)â€,c Mohammad Rizwan b Mohammad Amir,50,38,7,1,131.57,out

In [23]:
df_batting['match_id'] = df_batting['match'].map(match_ids_dict)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out,match_id
0,Pakistan Vs U.S.A,Pakistan,1,Mohammad Rizwan,c Taylor b Netravalkar,9,8,0,1,112.50,out,NaN
1,Pakistan Vs U.S.A,Pakistan,2,Babar Azam(c),lbw b Jasdeep Singh,44,43,3,2,102.32,out,NaN
2,Pakistan Vs U.S.A,Pakistan,3,Usman Khan,c Kumar b Kenjige,3,3,0,0,100.00,out,NaN
3,Pakistan Vs U.S.A,Pakistan,4,Fakhar Zaman,c Taylor b Ali Khan,11,7,0,1,157.14,out,NaN
4,Pakistan Vs U.S.A,Pakistan,5,Shadab Khan,c Netravalkar b Kenjige,40,25,1,3,160.00,out,NaN

In [24]:
df_batting.drop(columns=["dismissal"], inplace=True)
df_batting.head(10)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Pakistan Vs U.S.A,Pakistan,1,Mohammad Rizwan,9,8,0,1,112.50,out,NaN
1,Pakistan Vs U.S.A,Pakistan,2,Babar Azam(c),44,43,3,2,102.32,out,NaN
2,Pakistan Vs U.S.A,Pakistan,3,Usman Khan,3,3,0,0,100.00,out,NaN
3,Pakistan Vs U.S.A,Pakistan,4,Fakhar Zaman,11,7,0,1,157.14,out,NaN
4,Pakistan Vs U.S.A,Pakistan,5,Shadab Khan,40,25,1,3,160.00,out,NaN
5,Pakistan Vs U.S.A,Pakistan,6,Azam Khanâ€,0,1,0,0,0.00,out,NaN
6,Pakistan Vs U.S.A,Pakistan,7,Iftikhar Ahmed,18,14,3,0,128.57,out,NaN
7,Pakistan Vs U.S.A,Pakistan,8,Shaheen Shah Afridi,23,16,1,2,143.75,not_out,NaN
8,Pakistan Vs U.S.A,Pakistan,9,Haris Rauf,3,3,0,0,100.00,not_out,NaN
9,Pakistan Vs U.S.A,U.S.A,1,Steven Taylor,12,16,1,0,75.00,out,NaN

**Cleanup weird characters**

In [25]:
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('â€', ''))
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('\xa0', ''))
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Pakistan Vs U.S.A,Pakistan,1,Mohammad Rizwan,9,8,0,1,112.50,out,NaN
1,Pakistan Vs U.S.A,Pakistan,2,Babar Azam(c),44,43,3,2,102.32,out,NaN
2,Pakistan Vs U.S.A,Pakistan,3,Usman Khan,3,3,0,0,100.00,out,NaN
3,Pakistan Vs U.S.A,Pakistan,4,Fakhar Zaman,11,7,0,1,157.14,out,NaN
4,Pakistan Vs U.S.A,Pakistan,5,Shadab Khan,40,25,1,3,160.00,out,NaN

In [26]:
df_batting.shape

(852, 11)

In [27]:
df_batting.to_csv('fact_bating_summary.csv', index = False)

<h4 style="color:blue">(3) Process Bowling Summary</h4>

In [28]:
with open('2024_bowl_summary_recentdata.json') as f:
    data = json.load(f)
    all_records = []
    for rec in data:
        all_records.extend(rec['bowlingSummary'])
all_records[:2]

[{'match': 'India Vs South Africa',
  'bowlingTeam': 'South Africa',
  'bowlerName': 'Marco Jansen',
  'overs': '4',
  'maiden': '0',
  'runs': '49',
  'wickets': '1',
  'economy': '12.25',
  '0s': '4',
  '4s': '5',
  '6s': '2',
  'wides': '1',
  'noBalls': '1'},
 {'match': 'India Vs South Africa',
  'bowlingTeam': 'South Africa',
  'bowlerName': 'Keshav Maharaj',
  'overs': '3',
  'maiden': '0',
  'runs': '23',
  'wickets': '2',
  'economy': '7.66',
  '0s': '10',
  '4s': '3',
  '6s': '1',
  'wides': '0',
  'noBalls': '0'}]

In [29]:
df_bowling = pd.DataFrame(all_records)
print(df_bowling.shape)
df_bowling.head()

(595, 13)

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,India Vs South Africa,South Africa,Marco Jansen,4,0,49,1,12.25,4,5,2,1,1
1,India Vs South Africa,South Africa,Keshav Maharaj,3,0,23,2,7.66,10,3,1,0,0
2,India Vs South Africa,South Africa,Kagiso Rabada,4,0,36,1,9.00,8,2,2,2,0
3,India Vs South Africa,South Africa,Aiden Markram,2,0,16,0,8.00,1,0,1,0,0
4,India Vs South Africa,South Africa,Anrich Nortje,4,0,26,2,6.50,7,2,0,2,0

In [31]:
df_bowling['match_id'] = df_bowling['match'].map(match_ids_dict)
df_bowling.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,India Vs South Africa,South Africa,Marco Jansen,4,0,49,1,12.25,4,5,2,1,1,T20I # 2729
1,India Vs South Africa,South Africa,Keshav Maharaj,3,0,23,2,7.66,10,3,1,0,0,T20I # 2729
2,India Vs South Africa,South Africa,Kagiso Rabada,4,0,36,1,9.00,8,2,2,2,0,T20I # 2729
3,India Vs South Africa,South Africa,Aiden Markram,2,0,16,0,8.00,1,0,1,0,0,T20I # 2729
4,India Vs South Africa,South Africa,Anrich Nortje,4,0,26,2,6.50,7,2,0,2,0,T20I # 2729

In [32]:
df_bowling.to_csv('fact_bowling_summary.csv', index = False)

<h4 style="color:blue">(4) Process Players Information</h4>

In [33]:
with open('2024_playerdata.json') as f:
    data = json.load(f)

In [34]:
df_players = pd.DataFrame(data)

print(df_players.shape)
df_players.head(10)

(277, 6)

,name,team,battingStyle,playingRole,bowlingStyle,description
0,Andries Gous,U.S.A,Right hand Bat,Wicketkeeper,NaN,NaN
1,Rohit Sharma(c),India,Right hand Bat,Top order Batter,Right arm Offbreak,NaN
2,Kuldeep Yadav,India,Left hand Bat,Bowler,Left arm Wrist spin,NaN
3,Matt Henry,New Zealand,Right hand Bat,Bowler,Right arm Fast medium,"A slippery fast bowler, Matt Henry almost didn..."
4,Robinson Obuya,Uganda,Right hand Bat,Batter,NaN,NaN
5,Gudakesh Motie,West Indies,Left hand Bat,Bowler,Slow Left arm Orthodox,NaN
6,Mustafizur Rahman,Bangladesh,Left hand Bat,Bowler,Left arm Fast medium,Mustafizur Rahman is a left-arm pace bowler wh...
7,Babar Azam(c),Pakistan,Right hand Bat,Batter,Right arm Offbreak,"A right-hand, top-order batsman known for his ..."
8,Nuwan Thushara,Sri Lanka,Right hand Bat,Bowler,Right arm Medium fast,NaN
9,Roston Chase,West Indies,Right hand Bat,Allrounder,Right arm Offbreak,A tall offspin-bowling allrounder from Barbado...

**Cleanup weird characters**

In [35]:
df_players['name'] = df_players['name'].apply(lambda x: x.replace('â€', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('†', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('\xa0', ''))
df_players.head(10)

,name,team,battingStyle,playingRole,bowlingStyle,description
0,Andries Gous,U.S.A,Right hand Bat,Wicketkeeper,NaN,NaN
1,Rohit Sharma(c),India,Right hand Bat,Top order Batter,Right arm Offbreak,NaN
2,Kuldeep Yadav,India,Left hand Bat,Bowler,Left arm Wrist spin,NaN
3,Matt Henry,New Zealand,Right hand Bat,Bowler,Right arm Fast medium,"A slippery fast bowler, Matt Henry almost didn..."
4,Robinson Obuya,Uganda,Right hand Bat,Batter,NaN,NaN
5,Gudakesh Motie,West Indies,Left hand Bat,Bowler,Slow Left arm Orthodox,NaN
6,Mustafizur Rahman,Bangladesh,Left hand Bat,Bowler,Left arm Fast medium,Mustafizur Rahman is a left-arm pace bowler wh...
7,Babar Azam(c),Pakistan,Right hand Bat,Batter,Right arm Offbreak,"A right-hand, top-order batsman known for his ..."
8,Nuwan Thushara,Sri Lanka,Right hand Bat,Bowler,Right arm Medium fast,NaN
9,Roston Chase,West Indies,Right hand Bat,Allrounder,Right arm Offbreak,A tall offspin-bowling allrounder from Barbado...

In [36]:
df_players[df_players['team'] == 'India']

,name,team,battingStyle,playingRole,bowlingStyle,description
1,Rohit Sharma(c),India,Right hand Bat,Top order Batter,Right arm Offbreak,NaN
2,Kuldeep Yadav,India,Left hand Bat,Bowler,Left arm Wrist spin,NaN
14,Rishabh Pant,India,Left hand Bat,Wicketkeeper Batter,NaN,NaN
20,Mohammed Siraj,India,Right hand Bat,Bowler,Right arm Fast,Mohammed Siraj's rise as a seamer was remarkab...
27,Hardik Pandya,India,Right hand Bat,Allrounder,Right arm Medium fast,NaN
34,Suryakumar Yadav,India,Right hand Bat,Batter,"Right arm Medium, Right arm Offbreak",NaN
50,Virat Kohli,India,Right hand Bat,Top order Batter,Right arm Medium,NaN
141,Axar Patel,India,Left hand Bat,Bowling Allrounder,Slow Left arm Orthodox,NaN
153,Jasprit Bumrah,India,Right hand Bat,Bowler,Right arm Fast,NaN
160,Arshdeep Singh,India,Left hand Bat,Bowler,Left arm Medium fast,NaN
178,Shivam Dube,India,Left hand Bat,Allrounder,Right arm Medium,NaN
243,Ravindra Jadeja,India,Left hand Bat,Allrounder,Slow Left arm Orthodox,NaN

In [37]:
df_players.to_csv('dim_players_no_images.csv', index = False)